@page "/"

<PageTitle>Задачи</PageTitle>

<h1>Мои задачи</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>ИД</th>
			<th>Заголовок</th>
			<th>Описание</th>
			<th>Создано</th>
			<th>Завершено</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var task in tasks)
		{
			<tr>
				<td>@task.Id</td>
				<td>@task.Title</td>
				<td>@task.Description</td>
				<td>@task.CreatedDate</td>
				<td>@task.FinishDate</td>
			</tr>
		}
	</tbody>
</table>

@code
{
	IEnumerable<TaskItem> tasks = new List<TaskItem>
	{
		new() { Id = 1, Title = "Задача 1", Description = "Описание задачи 1", CreatedDate = DateTime.Now},
		new() { Id = 2, Title = "Задача 2", Description = "Описание задачи 2", CreatedDate = DateTime.Now},
		new() { Id = 3, Title = "Задача 3", Description = "Описание задачи 3", CreatedDate = DateTime.Now},
	};
}